@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #141414;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

header h1 {
  color: red;
  text-transform: uppercase;
  letter-spacing: 1px;
}

header .right {
  float: right;
}

header .right input {
  padding: 5px;
  border-radius: 4px;
  border: none;
}

header .right a {
  text-decoration: none;
  color: #fff;
  padding: 0 5px;
}

main {
  padding: 20px;
}

main section h1 {
  color: white;
  padding: 10px 0;
}

main section .movie-card {
  border-radius: 5px;
  color: #fff;
  margin: 5px 10px 5px 0;
  display: inline-block;
  height: 120px;
  width: 200px;
  background-size: 100% 100%;
  transition:  ease-in all 0.2s;
}

main section .movie-card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

main section .movie-card h2 {
  font-size: 16px;
  margin: 5px;
}

.movie-details {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 400px;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px 0 0 10px;
  background: #3a3939;
}

.movie-details h1 {
  color: red;
  font-weight: 100;
  margin: 5px 0;
}

.movie-details h2 {
  color: white;
}

.movie-details .movie-image {
  width: 100%;
  height: 200px;
  border-radius: 4px;
  margin: 20px 0;
}

.movie-details .actor-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 5px 0;
}

.movie-details p {
  color: white;
  margin: 10px 0;
}

.movie-details button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: red;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  color: white;
  border: none;
  cursor: pointer;
}
